/* Viewport - root SVG element: all other visual elements will be inside this one */
#viewport {
  width: 100%;
  height: 100%;
  viewport-fill: black;
}

#viewport.yellow {
  viewport-fill: fb-peach;
}

#viewport.orange {
  viewport-fill: fb-orange;
}

#viewport.red {
  viewport-fill: fb-red;
}

/* UI Text elements */
#clockText {
  font-size: 128;
  text-length: 8;
  font-family: System-Regular;
  font-weight: regular;
  text-anchor: middle;
  x: 50%;
  y: 50%+45;
  fill: white;
}

#dateText {
  font-size: 36;
  text-length: 8;
  font-family: System-Regular;
  font-weight: regular;
  text-anchor: middle;
  x: 50%;
  y: 36;
  fill: white;
}

#heartRateText {
  font-size: 32;
  text-length: 4;
  font-family: System-Regular;
  font-weight: regular;
  text-anchor: middle;
  x: 70%;
  y: 100%-16;
  fill: white;
}

#stepsText {
  font-size: 32;
  text-length: 8;
  font-family: System-Regular;
  font-weight: regular;
  text-anchor: middle;
  x: 30%;
  y: 100%-16;
  fill: white;
}
